td {
    background-color: rgb(129, 211, 239);
    width: 65px;
    height: 65px;
    text-align: center;
}

.invalidMove {
    background-color: rgb(11, 81, 142);
}

.black-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.red-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: rgb(167, 3, 255);
    border: 1px solid white;
    border-radius: 50px;    
}

.king.red-piece {
    background-color: rgb(255, 0, 242);
}

.king.black-piece {
    background-color: rgb(147, 144, 144);
}